<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="icon" href="<%= BASE_URL %>favicon.ico">
	<title>Brightness and Contrast</title>

	<link rel="stylesheet" href="<%= BASE_URL %>css/main.css">
	<style>
	

	</style>

	</head>
	<body>
	<noscript>
		<strong>We're sorry but example doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
	</noscript>

	<header>
		<h1>Brightness & Contrast Developer Test</h1>
		<p>01 Jun, 2018 – 31 Dec, 2019</p>
	</header>

	<main>

		<div class="head-images">
		<img src="<%= BASE_URL %>img/main-img.png" alt="Beyond the Valley">
		<img class="face-photo" src="<%= BASE_URL %>img/face.jpg" alt="face">
		</div>

		<div id="app"></div>

	</main>
	<!-- built files will be auto injected -->
	</body>
</html>
